<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yumi.android.sdk.ads.adapter.applovin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
    </application>

</manifest>
