<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yumi.android.sdk.ads.adapter.applovin">

    <!-- These permissions are mandatory to run AppLovin SDK -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>
