<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yumi.android.sdk.ads.adapter.applovin">

    <!-- These permissions are mandatory to run AppLovin SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="behind" />
        <activity
            android:name="com.applovin.adview.AppLovinFullscreenActivity"
            android:configChanges="keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <service
            android:name="com.applovin.impl.sdk.utils.AppKilledService"
            android:exported="false"
            android:stopWithTask="false" />
    </application>

</manifest>
