<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yumi.android.sdk.ads.adapter.tt">

    <application >
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTDownloadDeleteActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.bytedance.sdk.openadsdk.service.TTDownloadService" />
        <service android:name="com.bytedance.sdk.openadsdk.service.TTDownloadHandlerService" />

    </application>

</manifest>
