<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yumi.android.sdk.ads.adapter.vungle">

    <application>
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

            <activity android:name="com.vungle.publisher.VideoFullScreenAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

            <activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
    </application>

</manifest>
